export UV_PROJECT_ENVIRONMENT=.venv
export VIRTUAL_ENV_DISABLE_PROMPT=1
export CFLAGS="-I/opt/homebrew/opt/graphviz/include"
export CPPFLAGS="-I/opt/homebrew/opt/graphviz/include"
export LDFLAGS="-L/opt/homebrew/opt/graphviz/lib"

if [ ! -d .venv ]; then
  uv venv --python 3.11 .venv
  uv sync --python 3.11
fi

source .venv/bin/activate
